RewriteEngine on

RewriteCond %{REQUEST_URI} ^/admin
RewriteRule ^admin(.*) /backend/web/$1 [L]

RewriteCond %{REQUEST_URI} ^/storage
RewriteRule ^storage(.*) /storage/web/$1 [L]

RewriteCond %{REQUEST_URI} ^/api
RewriteRule ^api(.*) /api/web/$1 [L]

RewriteRule (.*) /frontend/web/$1 [L]
